<!-- Allow users to upload custom data sets on the content page
● Allow users to comment on specific visualizations
○ Store these comments in their own table on the database
● Add a user profile page
○ Requires its own database table & links to the users table
○ Should display all of the user’s posts in chronological order
○ Users can customize basic content on the page
■ Username
■ Profile Description
■ Background Image
■ Profile Image-->   

{% extends "base.html" %}
{%block content%}
    <div class = "content-section">
        <div class = "media">
            <img class = "rounded-circle account-img" src = "userimage.jpg" >
            <div class = "medium-body">
                <h2 class = "account-heading"> {{ current_user.username}} </h2>
                <p class = "text secondary"> {{current_user.email}} </p>
            </div>
        </div>
    
    </div>

{% endblock %}